.head {
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  
  > .nav {
    width: 100%;
    padding: var(--space-lg) 0px;

    background: var(--color-secondary);


    > div {
      > div {
        width: fit-content;

        .nav-list {
          display: inline-flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 1.7rem;
        }
      }
    }
  }
}
