:root {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  color: rgb(0, 0, 0);
}

header,
nav,
main,
footer {
  padding: 10px;
}

ul,
a {
  list-style-type: none;
  text-decoration: none;
  margin: unset;
}

li {
  background-color: transparent;
  cursor: pointer;
  padding: 5px 10px;
  border: 2.1px solid #eb5353;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}

li:hover {
  border-color: #c82525;
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  box-shadow: 0px 1px 10px black;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

a {
  color: #000;
}

a:focus {
  color: #c82525;
}

button {
  background-color: #eb5353;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 1px 10px black;
}

button:hover {
  background-color: #c82525;
  color: #ccc;
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: unset;
}

.letters {
  font-size: medium;
  font-weight: bold;
  letter-spacing: 0.7px;
}

h2 {
  letter-spacing: 0.7px;
}

img {
  border: 1px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 200px;
  box-shadow: 0px 1px 7px black;
}
