.h1 {
  font-size: var(--font-size-h1);
  line-height: 1.5;
  font-weight: 400;
  white-space: pre-line;
}

.h1_bold {
  font-size: var(--font-size-h1);
  line-height: 1.1;
  font-weight: 600;
  white-space: pre-line;
}

.h2 {
  font-size: var(--font-size-h2);
  line-height: 1.5;
  font-weight: 400;
  white-space: pre-line;
}

.h2_bold {
  font-size: var(--font-size-h2);
  line-height: 1.1;
  font-weight: 600;
  white-space: pre-line;
}

.h3 {
  font-size: var(--font-size-h3);
  line-height: 1.5;
  font-weight: 400;
  white-space: pre-line;
}

.h3_bold {
  font-size: var(--font-size-h3);
  line-height: 1.1;
  font-weight: 600;
  white-space: pre-line;
}

.h4 {
  font-size: var(--font-size-h4);
  line-height: 1.5;
  font-weight: 400;
  white-space: pre-line;
}

.h4_bold {
  font-size: var(--font-size-h4);
  line-height: 1.1;
  font-weight: 600;
  white-space: pre-line;
}

.h5 {
  font-size: var(--font-size-h5);
  line-height: 1.5;
  font-weight: 400;
  white-space: pre-line;
}

.h5_bold {
  font-size: var(--font-size-h5);
  line-height: 1.1;
  font-weight: 600;
  // white-space: pre-line;
}

.pa {
  font-size: var(--font-size-pa);
  line-height: 1.5;
  font-weight: 400;
  white-space: pre-line;
}

.pa_bold {
  font-size: var(--font-size-pa);
  line-height: 1.1;
  font-weight: 600;
  white-space: pre-line;
}

.sp {
  font-size: var(--font-size-sp);
  line-height: 1.5;
  font-weight: 400;
  white-space: pre-line;
}

.sp_bold {
  font-size: var(--font-size-sp);
  line-height: 1.1;
  font-weight: 600;
  white-space: pre-line;
}

.an {
  font-size: var(--font-size-pa);
  line-height: 1.5;
  font-weight: 500;
  white-space: pre-line;
}
