<!DOCTYPE html>
<html lang="es">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>VUE</title>
 <link rel="stylesheet" href="css/vuePage01.css">
 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>


    <div id="todolist">
        <h1>LISTADO TAREAS</h1>
        <div>

            <button @click="setVisibilidad('todas')">LISTA ENTERA</button>
            <button @click="setVisibilidad('pendientes')">LISTA PENDIENTES</button>
            <button @click="setVisibilidad('completadas')">LISTA COMPLETADAS</button>
            <br/><br/>


            <input type="text" v-model="nuevaTarea"  >
            <button @click="agregarTarea" >AGREGAR TAREA</button>

        </div>
        <div>
            <h2>Listado</h2>
            <div v-for="tarea in tareasFiltradas" :key="tarea.id" :class="{completada: tarea.completada }" @click="toggleCompletada(tarea.id)"> {{tarea.descripcion}} </div>

        </div>



        <h3>Tareas pendientes: {{tareasPendientes}}</h3>




    </div>




    <script src="js/vuePage01.js"></script>

</body>

</html>
