*,
*::after,
*::before {
  box-sizing: border-box;
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 7px black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

:root {
  /* El `font-size` va siempre en el `:root` para que la medida `rem` pueda tomar efecto. Ponerlo en esta parte del CSS es como ponerlo en el tag `html{}` sin afectar a todos los elementos el documento (si lo ponemos en `*{}` afectaremos a todos los elementos del documento) */
  font-size: 16px;

  --variables: ;
}

p,
a,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px;
  padding: unset;
  list-style-type: none;
  text-decoration: none;
}

body {
  min-width: 100%;
  min-height: 100vh;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  line-height: 1.5;

  margin: unset;
  padding: unset;
}

.box-container {
  width: 100%;

  padding: 10px;

  border: 1px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  padding: 20px;
  border: 1px solid black;
  margin: 10px;
  background-color: darkorange;
}

.div1:hover {
  animation: mi-animacion 1.5s; /* Name | Duration | Timing Function | Delay | Iteration-Count | Direction | Fill-Mode */
}

.div2:hover {
  animation: spring 3.5s;
}

.div3:hover {
  animation: spring-secondary 1s;
}

.div4:hover {
  animation: smoothbounceball 0.7s;
}

@keyframes mi-animacion {
  from {
    background-color: aqua;
  }
  to {
    background-color: tomato;
  }
}

@keyframes spring {
  0% {
    background-color: var(--hover-color-button);
    border-color: grey;
    box-shadow: 1px 2px 12px 3px black;
  }
  7% {
    background-color: var(--hover-color-button);
    border-color: grey;
    transform: scale(1.07);
  }
  25% {
    background-color: var(--hover-color-button);
    border-color: grey;
  }
  55% {
    background-color: var(--hover-color-button);
    border-color: grey;
    transform: scale(1);
  }
  75% {
    background-color: var(--hover-color-button);
    border-color: grey;
    transform: scale(1.03);
  }
  100% {
    background-color: var(--hover-color-button);
    border-color: grey;
  }
}

@keyframes spring-secondary {
  0% {
    background-color: lightgrey;
    border-color: darkorange;
  }
  7% {
    background-color: lightgrey;
    border-color: darkorange;
    transform: scale(1.07);
  }
  25% {
    background-color: lightgrey;
    border-color: darkorange;
  }
  55% {
    background-color: lightgrey;
    border-color: darkorange;
    transform: scale(1);
  }
  75% {
    background-color: lightgrey;
    border-color: darkorange;
    transform: scale(1.03);
  }
  100% {
    background-color: transparent;
    border-color: darkorange;
  }
}

@keyframes smoothbounceball {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
