body {
  min-width: 100%;
  min-height: 100vh;

  margin: unset;
  padding: unset;
}

main {
  margin: 1rem 5rem;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main form {
  display: flex;
  flex-direction: column;

  width: 210px;

  margin-left: 7rem;
}

fieldset {
  width: 200px;
}

h1 {
  margin-left: 5rem;
}
