<IfModule mod_headers>
  header("Access-Control-Allow-Origin: *");
  header("Access-Control-Allow-Methods: GET, POST, PUT, PATCH, DELETE, OPTIONS");
  header("Access-Control-Allow-Headers: Content-Type, Authorization, X-Requested-With");
</IfModule>

RewriteEngine On
RewriteBase /server/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

<IfModule mod_proxy>
    ProxyRequests Off

    <Proxy *>
        Order deny,allow
        Allow from all
    </Proxy>

    ProxyPreserveHost On
    ProxyPass /api/ http://localhost:80/server/
    ProxyPassReverse /api/ http://localhost:80/server/

    ErrorLog ${APACHE_LOG_DIR}/vite-client-error.log
    CustomLog ${APACHE_LOG_DIR}/vite-client-access.log combined
</IfModule>
