.footer {
  background-color: var(--color-contrast-3);
}

.copyright {
  font-size: var(--font-size-pa);

  color: var(--color-contrast-2);

  line-height: 1.5;
  font-weight: 500;
  white-space: pre-line;

  cursor: pointer;

  width: fit-content;

  text-align: center;

  &:hover {
    filter: drop-shadow(0 0 0.5rem var(--color-contrast-3));
    -webkit-filter: drop-shadow(0 0 0.5rem var(--color-contrast-3));

    text-decoration-line: underline;
    -moz-text-decoration-line: underline;

    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);

    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
  }
}
