

*{
 padding: 0;
 margin: 0;
}

:root {
 --blanco: white;
 --negro: black;
 --rojo: red;
 --azul: blue;
 --amarillo: yellow;
 --musgo: #6ff0eb;


 --oscuro:#222;
 --gris: #666;
 --claro:#ddd;
}



body {

 font-family: Arial, sans-serif; /* Tipo de fuente para todo el sitio */
 background-color: var(--claro); /* Color de fondo */
 color: var(--oscuro); /* Color del texto */
 line-height: 1.6; /* Espaciado entre líneas */
 margin: 0;
 padding: 0;
 position: relative;
 font-weight: bold;
}

/* Contenedor principal */
.container {
 width: 80%;
 margin: auto;
 overflow: hidden;
 padding: 20px;
}

/* Header general */
header {
 color: var(--blanco);; /* Color de texto */
padding-top: 20px;
 text-align: center; /* Alinear texto al centro */
 position: sticky;
 top: 0px;
 z-index: 100;
 height: 70px;
 width: 100%;
 background-color: var(--oscuro);
}

header img{
 width: 70px;
 position: absolute;
 margin: auto;
 top: 0px;
 left: 0px;
 right: 0px;
 bottom: 0px;
}

/* Navegación */
nav {
 display: flex; /* Usar flexbox para la distribución de los elementos */
 justify-content: center; /* Centrar los elementos horizontalmente */
 padding: 10px 0; /* Espaciado vertical */
 background-color: var(--oscuro); /* Fondo ligeramente más claro que el header */
}

nav a {
 color: var(--blanco); /* Color del texto para los enlaces */
 padding: 10px 15px; /* Espaciado alrededor de los enlaces */
 margin: 0 10px; /* Separación entre enlaces */
 text-decoration: none; /* No subrayar los enlaces */
 font-weight: bold; /* Texto en negrita para mayor legibilidad */
}

nav a:hover {
 background-color: var(--gris); /* Cambio de fondo al pasar el ratón */
 border-radius: 5px; /* Bordes redondeados para un efecto suave */
}

nav a.active {/* Estilos para la barra de navegación activa */
 border-bottom: 3px solid var(--musgo); /* Subrayado para indicar la página activa */
}

/* footer */

footer {
 position: fixed;
 height: 50px;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: var(--oscuro);
 color: var(--blanco);
 text-align: center;
 padding: 10px 0;
}

/* Estilo de los enlaces */
a {
 color: var(--oscuro);
 text-decoration: none;
}

a:hover {
 color: var(--musgo);
}

/* Estilos de formulario */
form {
 width: 300px;
 margin: 20px auto;
 margin-top: 60px;
}

label{
 font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
 width: 100%;
 padding: 15px;
 margin-top: 10px;
 margin-bottom: 10px;
 font-weight: bold;
 border: 1px solid var(--claro);
 border-radius: 10px;
}

input[type="submit"],
button {
 width: 100%;
 padding: 15px;
 margin-top: 20px;
 margin-bottom: 20px;
 background-color: var(--oscuro);
 color: var(--blanco);
 border-radius: 10px;
 border: none;
 cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
 background-color: var(--oscuro);
}

/* Utilidades y clases adicionales */
.clearfix::after {
 content: "";
 clear: both;
 display: table;
}

.text-center {
 text-align: center;
}

input, textarea, select {
    border-radius: 8px; /* Rounded borders */
    padding: 8px; /* Padding inside inputs */
    margin-bottom: 20px; /* Increased margin below each input */
}

#imgcaptcha{
 border-radius: 10px;
 overflow: hidden; /* Asegura que el contenido no sobresalga */

}
#imgcaptcha img {
 width: 100%; /* Permite que la anchura se ajuste naturalmente */
 height: auto; /* Ajusta la altura para llenar completamente el div */
 display: block; /* Elimina cualquier espacio extra alrededor de la imagen */
 margin: 0 auto; /* Centra la imagen horizontalmente si es más angosta que el contenedor */
}
.card {
width: 100%; /* Ancho de la tarjeta */
/* max-width: 600px;  */
/* Ancho máximo para dispositivos más grandes */
margin-top: 10%;
padding-top: 20px;
padding-bottom: 20px;

position: relative;
top:30%;
box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra para darle profundidad */
background-color: #ffcccb; /* Color de fondo rojo claro para la advertencia */
text-align: center; /* Alineación del texto */

}

.card p {
margin: 0; /* Elimina el margen predeterminado del párrafo */
color: #d8000c; /* Color de texto */
font-size: 16px; /* Tamaño del texto */
}