

a:link {
/* texto en gris claro , letra negrita sin cursiva fuente roboto */


}

  
  a:visited {
    /* texto en gris oscuro , letra sin negrita sin cursiva fuente roboto */

  }


  a:hover {
    /* texto en gris claro , letra negrita con cursiva fuente roboto */

  }


  
  a:active {

    /* texto en azul , letra negrita con cursiva fuente roboto */
  }


ul{

    list-style-image: url("../img/patron.png");
    /* list-style-image: ; */
}