// FUNCTION PX TO REM;
@function pxToRem($px) {
  @return $px / 16px;
}

// FUNCTION HEIGHT PROPORTIONAL TO WIDTH
@function proportional-height($width) {
  $base-width: 7rem;
  $base-height: 4rem; // 7rem - 3rem
  $ratio: $base-height / $base-width;
  
  @return $width * $ratio;
}
