:root {
  /* El `font-size` va siempre en el `:root` para que la medida `rem` pueda tomar efecto. Ponerlo en esta parte del CSS es como ponerlo en el tag `html{}` sin afectar a todos los elementos el documento (si lo ponemos en `*{}` afectaremos a todos los elementos del documento) */
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* SIZE */
  --font-size-sp: 14px;
  --font-size-pa: 16px;
  --font-size-h5: 18px;
  --font-size-h4: 24px;
  --font-size-h3: 32px;
  --font-size-h2: 40px;
  --font-size-h1: 64px;

  /* SPACING */
  --zero-space: 0px;
  --space-5xs: 1px;
  --space-4xs: 2px;
  --space-3xs: 4px;
  --space-xxs: 6px;
  --space-xs: 8px;
  --space-s: 10px;
  --space-sm: 12px;
  --space-ms: 14px;
  --space-md: 16px;
  --space-ml: 20px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xll: 40px;
  --space-xxl: 48px;
  --space-3xl: 56px;
  --space-4xl: 64px;
  --space-rem: 1rem;
  --space-rem-m: 1.5rem;

  /* RADIUS */
  --border-radius-sm: 5px;
  --border-radius-m: 10px;
  --border-radius-md: 16px;
  --border-radius-ml: 20px;
  --border-radius-l: 24px;
  --border-radius-xl: 30px;
  --border-radius-xxl: 72px;

  /* COLORS */
  --color-1: rgba(201, 43, 206, 0.855);
  --color-2: rgba(40, 255, 255, 0.808);
  --color-3: rgba(255, 127, 8, 0.906);
  --color-4: rgba(8, 255, 8, 0.69);
  --color-5: rgba(255, 66, 8, 0.843);
  --color-6: rgba(136, 8, 255, 0.843);
  --color-7: rgba(8, 53, 255, 0.843);
  --color-8: rgba(245, 245, 245, 0.5);
  --color-9: rgb(180, 180, 180);
  --color-10: rgba(255, 191, 0, 0.794);
  --color-11: rgb(252, 172, 45);
  --color-12: rgb(253, 207, 91);
  --color-13: rgb(18, 45, 142);
  --color-14: rgba(27, 66, 208, 0.969);
  --color-15: rgb(35, 133, 238);
  --color-16: rgb(231, 232, 255);
  --color-17: rgb(121, 185, 254);
  --color-18: rgb(16, 111, 212);

  --color-contrast-1: rgb(219, 219, 219);
  --color-contrast-2: rgb(7, 7, 7);
  --color-contrast-3: rgb(243, 243, 243);

  --color-shadow-1: rgb(80, 80, 80);
  --color-shadow-2: rgb(135, 135, 135);

  --color-blur-1: rgb(50, 60, 65);
  --color-blur-2: rgba(0, 0, 0, 0.8);

  /* GRADIENTS */
  --gradient-button-bg-image: linear-gradient(
    37deg,
    var(--color-13) 12%,
    var(--color-14) 39%,
    var(--color-15) 78%
  );

  --gradient-swiper-bg-image: linear-gradient(
    211deg,
    var(--color-15) 2%,
    var(--color-16) 77%
  );

  --gradient-bg-card-1: linear-gradient(
    var(--color-11) 0%,
    var(--color-12) 100%
  );
  --gradient-bg-card-2: linear-gradient(
    var(--color-11) 0%,
    var(--color-12) 100%
  );

  --gradient-bg-image-1: linear-gradient(var(--color-2), var(--color-6));
  --gradient-bg-image-2: linear-gradient(var(--color-5), var(--color-12));
  --gradient-bg-image-3: linear-gradient(
    164deg,
    var(--color-3) 1%,
    var(--color-6) 88%
  );
  --gradient-bg-image-4: linear-gradient(
    157deg,
    var(--color-1) 31%,
    var(--color-5) 100%
  );
}
