<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Marcos Lambir Torres" />
    <meta name="description" content="JavaScript" />
    <meta name="keywords" content="Curso, Formación, Examen" />
    <link rel="stylesheet" href="./src/css/vue19-pabellon-deportivo.css" />
    <!-- Este `script` sí va en la cabecera del HTML -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Curso ASATA - JavaScript</title>
  </head>
  <body>
    <header>
      <section>
        <h1>Script - Vue.js</h1>
      </section>
    </header>

    <nav><section></section></nav>

    <main>
      <p>Ver el archivo JavaScript linkeado</p>
      <article class="order-containers">
        <section class="section-container background-5">
          <div id="vm">
            <h2>Gestión de pabellón deportivo</h2>

            <!-- DISPONIBILIDAD PABELLÓN -->
            <div id="pabellon" class="pabellon">
              <h3>Pabellón</h3>
              <p v-if="isLibre > 0">DISPONIBLE</p>
              <p v-else>COMPLETO</p>
            </div>

            <!-- INSTALACIONES -->
            <div id="instalaciones" class="instalaciones">
              <div class="instalacion" v-for="iterator of instalaciones">
                <h3>{{iterator.id}}</h3>
                <p v-if="iterator.reservada">RESERVADA</p>
                <p v-else>LIBRE</p>
                <input
                  type="text"
                  placeholder="Nombre de la reserva"
                  v-model="iterator.usuarioReserva"
                />
                <button
                  type="submit"
                  @click="toggleReserva(iterator)"
                  :disabled="!validReservation(iterator)"
                >
                  RESERVAR
                </button>
              </div>
            </div>

            <!-- INCIDENCIAS -->
            <div id="incidencias" class="incidencias">
              <h3>Listado incidencias</h3>

              <input
                type="text"
                v-model="nuevaIncidencia"
                placeholder="Añade tu incidencia"
              />
              <button @click="agregarIncidencia()">AGREGAR INCIDENCIA</button>

              <div v-for="(iterator, index) of incidencias">
                <button @click="eliminarIncidencia(index)">RESUELTA</button>
                <span>{{iterator}}</span>
              </div>
            </div>
          </div>
        </section>
      </article>
    </main>

    <aside><section></section></aside>

    <footer><section></section></footer>

    <!-- El `type=""` nos indica la forma en JavaScript para importar o exportar funciones entre archivos -->
    <script type="module" src="./src/js/vue19PabellonDeportivo.js"></script>
  </body>
</html>
