<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Marcos Lambir Torres" />
    <meta name="description" content="JavaScript" />
    <meta name="keywords" content="Curso, Formación, Examen" />
    <link rel="stylesheet" href="./src/css/vue11.css" />
    <!-- Este `script` sí va en la cabecera del HTML -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Curso ASATA - JavaScript</title>
  </head>
  <body>
    <header>
      <section>
        <h1>Script - Vue.js</h1>
      </section>
    </header>

    <nav><section></section></nav>

    <main>
      <p>Ver el archivo JavaScript linkeado</p>
      <article class="order-containers">
        <section class="section-container background-4">
          <h3>
            Hasta que no escribas 'HOLA' no obtendrás mensaje. Míra la consola
            de 'Dev Tools'
          </h3>
          <div id="vm">
            <input v-model="saludito" />
            <p v-if="mostrarMensaje">
              Este mensaje apareció si "mostrarMensaje === true" y si el watch
              recibe 'HOLA'
            </p>
          </div>

          <h3>If-Else</h3>
          <div id="vm2">
            <p v-if="estado === 'inicio'">Estado inicial</p>
            <p v-else-if="estado === 'procesando'">Procesando...</p>
            <p v-else-if="estado === 'completado'">Completado</p>
            <p v-else>ERROR</p>
          </div>

          <h3>Toggle</h3>
          <div id="vm3">
            <!-- https://stackoverflow.com/questions/45369553/difference-between-click-and-v-onclick-vuejs -->
            <button v-on:click="visible=!visible">Toggle</button>
            <p v-show="visible">Ahora me ves</p>
          </div>

          <h3>Toggle más Componente</h3>
          <div id="vm4">
            <button @click="mostrarA=!mostrarA">Toggle Componente A</button>
            <br />
            <button @click="mostrarB=!mostrarB">Toggle Componente B</button>
            <component-a v-if="mostrarA"></component-a>
            <component-b v-if="mostrarB"></component-b>
          </div>
        </section>
      </article>
    </main>

    <aside><section></section></aside>

    <footer><section></section></footer>

    <!-- El `type=""` nos indica la forma en JavaScript para importar o exportar funciones entre archivos -->
    <script type="module" src="./src/js/vue11.js"></script>
  </body>
</html>
