<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Marcos Lambir Torres" />
    <meta name="description" content="JavaScript" />
    <meta name="keywords" content="Curso, Formación, Examen" />
    <link rel="stylesheet" href="./src/css/vue20-kanban.css" />
    <!-- Este `script` sí va en la cabecera del HTML -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Curso ASATA - JavaScript</title>
  </head>
  <body>
    <header>
      <section>
        <h1>Framework - Vue.js - Kanban</h1>
      </section>
    </header>

    <nav><section></section></nav>

    <main>
      <p>Ver el archivo JavaScript linkeado</p>
      <article class="order-containers">
        <section class="section-container background-5">
          <div id="vm">
            <button @click="agregarBloque()">AGREGAR BLOQUE</button>
            <input
              type="text"
              v-model="nuevoTitulo"
              placeholder="Ingresa el título del bloque"
            />

            <!-- TABLERO (BAN) -->
            <div class="tablero">
              <div
                class="bloque"
                v-for="(item, indexBloque) in bloques"
                :key="indexBloque"
              >
                <!-- Título -->
                <h3 class="titulo" :style="{background: item.color}">
                  {{item.id}} - {{item.titulo}}
                </h3>
                <!-- Líneas -->
                <ul>
                  <li
                    v-for="(element, indexLinea) in item.lineas"
                    :key="indexLinea"
                  >
                    <button @click="borrarLinea(indexBloque, indexLinea)">
                      BORRAR
                    </button>
                    {{element}}
                  </li>
                </ul>
                <!-- Controles -->
                <div class="nuevo-elemento">
                  <input
                    type="text"
                    placeholder="Nueva linea..."
                    v-model="nuevaLinea[indexBloque]"
                  />
                  <button @click="insertarLinea(indexBloque)">
                    INSERTAR LINEA
                  </button>
                </div>
                <button @click="eliminarBloque(indexBloque)">
                  ELIMINAR BLOQUE
                </button>
              </div>
            </div>
          </div>
        </section>
      </article>
    </main>

    <aside><section></section></aside>

    <footer><section></section></footer>

    <!-- El `type=""` nos indica la forma en JavaScript para importar o exportar funciones entre archivos -->
    <script type="module" src="./src/js/vue20Kanban.js"></script>
  </body>
</html>
