<!DOCTYPE html>
<html lang="es">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>VUE</title>
 <link rel="stylesheet" href="css/vueCarritoCompra.css">
 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>


    <div id="vm">

        <div class="producto" v-for="producto in productos">

            <img :src="producto.imagen" :alt="producto.nombre" >

            <div class="producto-info">
                <h4>{{producto.nombre}}</h4>
                <P>{{producto.precio}} {{producto.divisa}}</P>
                <button @click="agregarProducto(producto)" > Agregar al carrito</button>
            </div>

        </div>
        

        <div id="carrito">
            <h4>Lista carrito</h4>

            <p v-if="carrito.length == 0">Tucarrito esta vacio.</p>

            <ul>
                <li v-for="item in carrito"> {{item.nombre}} - {{ item.precio}} {{item.divisa}}</li>
            </ul>

            <P>Total coste carrito: {{totalCarrito}}</P>

        </div>



    </div>



    <script src="js/vueCarritoCompra.js"></script>

</body>

</html>