*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* El `font-size` va siempre en el `:root` para que la medida `rem` pueda tomar efecto. Ponerlo en esta parte del CSS es como ponerlo en el tag `html{}` sin afectar a todos los elementos el documento (si lo ponemos en `*{}` afectaremos a todos los elementos del documento) */
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  line-height: 1.5;

  /* Variables */
  --color-1: #c92bceda;
  --color-2: #28ffffce;
  --color-3: #ff7f08e7;
  --color-4: #08ff08b0;
  --color-5: #ff4208d7;
  --color-6: #8808ffd7;
  --color-7: #0835ffd7;

  --color-contrast-1: #dbdbdb;
  --color-contrast-2: #070707;
  --color-contrast-3: #fff;

  --color-shadow: #505050;
}

p,
a,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  margin: unset;
  padding: unset;
  list-style-type: none;
  text-decoration: none;
}

body {
  min-width: 100%;
  min-height: 100vh;

  margin: unset;
  padding: unset;

  background: var(--color-contrast-3);
  color: var(--color-contrast-2);

  display: grid;
  grid-template-areas:
    "cabecera       cabecera      cabecera"
    "navegacion     navegacion    navegacion"
    "principal      principal     principal"
    "publi          publi         publi"
    "pie            pie           pie";
  grid-template-rows: 5rem 3rem auto 3rem 5rem;
  /* grid-template-columns: 10rem auto auto; */
}

header {
  grid-area: cabecera;
}

nav {
  grid-area: navegacion;
}

main {
  grid-area: principal;
}

aside {
  grid-area: publi;
}

footer {
  grid-area: pie;
}

.order-containers {
  display: flex;
  flex-wrap: wrap;
}

.section-container {
  width: fit-content;

  padding: 20px;
}

.background-1 {
  background: var(--color-1);
}

.background-2 {
  background: var(--color-2);
}

.background-3 {
  background: var(--color-3);
}

.background-4 {
  background: var(--color-4);
}

.background-5 {
  background: var(--color-5);
}

.background-6 {
  background: var(--color-6);
}

.background-7 {
  background: var(--color-7);
  color: var(--color-contrast-3);
}

.completada {
  text-decoration: line-through;
}

.element {
  width: fit-content;
  padding: 10px;
  background: #00c3ff;
}

@media (width >= 1080px) {
  body {
    grid-template-areas:
      "cabecera       cabecera      cabecera"
      "navegacion     navegacion    navegacion"
      "principal      principal     principal"
      "pie            pie           pie";
    grid-template-rows: 5rem 3rem auto 5rem;
    grid-template-columns: 10rem auto auto;
    gap: 0.3rem;
  }

  aside {
    display: none;
  }
}
