.card {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  text-align: start;

  width: 230px;
  height: 300px;
  margin: var(--space-lg) 0px;

  box-sizing: border-box;

  padding: var(--space-ms);

  overflow: inherit;

  border: var(--space-5xs) solid var(--color-11);
  border-bottom: var(--space-3xs) solid var(--color-11);
  border-radius: var(--border-radius-l);
  -webkit-border-radius: var(--border-radius-l);
  -moz-border-radius: var(--border-radius-l);
  -ms-border-radius: var(--border-radius-l);
  -o-border-radius: var(--border-radius-l);

  font: inherit;
}

.is_card_primary {
  color: var(--color-contrast-2);
  background: var(--gradient-bg-card-1);
  transform: rotate(-2.36deg);
  -webkit-transform: rotate(-2.36deg);
  -moz-transform: rotate(-2.36deg);
  -ms-transform: rotate(-2.36deg);
  -o-transform: rotate(-2.36deg);
}

.is_card_secondary {
  color: var(--color-contrast-2);
  background: var(--gradient-bg-card-2);
  transform: rotate(1.43deg);
  -webkit-transform: rotate(1.43deg);
  -moz-transform: rotate(1.43deg);
  -ms-transform: rotate(1.43deg);
  -o-transform: rotate(1.43deg);
}

.is_card_tertiary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: start;

  background: var(--gradient-bg-card-3);

  width: 370px;
  height: 173px;

  margin: unset;
}

.is_card_quaternary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;

  width: 23%;
  height: 450px;

  box-shadow: -3px 5px 7px 1px var(--color-shadow-1);

  overflow: hidden;
}

.container_card_svg {
  display: flex;
  justify-content: flex-end;

  width: 100%;
}

.container_card_img {
  display: flex;
  justify-content: center;

  width: 100%;

  overflow: hidden;
  border: var(--space-5xs) solid var(--color-11);

  > img {
    object-fit: cover;

    &:hover {
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);

      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
    }
  }
}

.container_card_text {
  width: 100%;

  text-align: left;
}

.container_card_button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;

  height: 60px;

  > .container_card_opacity {
    background: rgb(74, 74, 74);

    border-radius: var(--border-radius-ml);
    -webkit-border-radius: var(--border-radius-ml);
    -moz-border-radius: var(--border-radius-ml);
    -ms-border-radius: var(--border-radius-ml);
    -o-border-radius: var(--border-radius-ml);

    width: fit-content;
  }
}

@media (hover: hover) {
  .is_card_quaternary:hover {
    transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
    -moz-transition: all 0.2s ease 0.2s;
    -ms-transition: all 0.2s ease 0.2s;
    -o-transition: all 0.2s ease 0.2s;
  }

  .container_card_img {
    > img {
      object-fit: cover;

      &:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);

        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
      }
    }
  }
}
