*,
*::after,
*::before {
  box-sizing: border-box;
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 7px black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

:root {
  /* El `font-size` va siempre en el `:root` para que la medida `rem` pueda tomar efecto. Ponerlo en esta parte del CSS es como ponerlo en el tag `html{}` sin afectar a todos los elementos el documento (si lo ponemos en `*{}` afectaremos a todos los elementos del documento) */
  font-size: 16px;

  --variables: ;
}

body {
  width: 100%;
  height: 100%;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  background-color: lightcoral;

  display: flex;
  flex-flow: column wrap;

  line-height: 1.5;
}

p,
a,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
  padding: unset;
  list-style-type: none;
  text-decoration: none;
}

.caja {
  padding: 50px;

  margin: 10px;

  border: 2px solid black;

  width: 200px;

  text-align: center;

  float: left; /* Float saca el elemento del flujo natural (la posición que recibiría por defecto) y se alínea donde pueda, pero sigue teniendo en consideración los elementos cercanos dentro de todo el html. Por lo tanto, si lo asignamos a varios elementos contiguos, los alineará uno detrás del otro, pero los sacará de la alineación por defecto, comprometiendo todos los demás tags. No funciona con `display: flex;` y/o `display: grid;` */

  clear: left; /* Clear toma en consideración los `float` que haya, y restablece el flujo por defecto del elemento que posea un `float` en particular (`float: left;` o `float: right;`). También es aplicable para todos los tipos de float, con `clear: both;` */
}

#caja-1 {
  background-color: aqua;
}

#caja-2 {
  background-color: yellow;
}

#caja-3 {
  background-color: orchid;
}

article {
  padding: 10px;

  margin: 10px;

  border: 2px solid black;

  width: 700px;

  text-align: left;
}

#img-float-left {
  width: 200px;

  float: left;

  margin: 0px 10px 10px 0px;
}

#img-float-right {
  width: 200px;

  float: right;

  margin: 0px 0px 10px 10px;
}
